
body {
    font-family: 'Times New Roman', serif;
    background-color: #741414;
    color: #791a09;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat
    height:100vh;
    margin: 0; 
}

header {
    background-color: #af4862;
    padding: 20px;
    color: #812424;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #5e0808;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #c478aa;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffd1dd;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.image-gallery {
    display: flex;
    gap: 17px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 30%;
    max-width: 300px;
    
}
#imagen {
    width: 60%; 
    height: auto; 
}
.imagen-diagnostico{
    width: 30%;
    max-width: 300px;
   
}

.imagen-uno {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 12px;
    border: none;
}
.image-gallery img {
    width: 30%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.image-gallery img:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.iframe{
    width: 700px;
    height: 400px;
}



